<%= render "navbar" %>

<div class="container">
  <%= form_with model: @post do |form| %>
    <%= form.label :body, "Write a new message:" %>
    <br>
    <%= form.text_area :body, class: "textarea is-small" %>
    <br>
    <%= form.submit class: "button is-responsive is-link"%>
  <% end %>
  <br>
</div>

<% if @post.errors.any? %>
  <div class="container">
    <h2>Errors prohibited this post from being saved:</h2>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="content">
      <ol type="1">
        <li><%= msg %></li>
      </ol>
      </div>
    <% end %>
  </div>
<% end %>